body {
	font-family: Helvetica, Arial, sans-serif;
	background: #d6d6d6;
	text-align: left;
	padding: 0px 0px;
	-webkit-transform-style: preserve-3d;
	-webkit-perspective: 400;
}
.header img {
  float: left;
  width: 170px;
  height: 100px;
}
.header h1 {
  position: relative;
  top: 18px;
  left: 10px;
  text-align:center;
  color:#333369;
}
header {
    background-color:white;
    color:white;
    text-align:center;
    padding:3px;	 
}
footer {
    background-color:#333369;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;	 	 
}

table, th, td {
    border: 0px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 10px;
    text-align: center;    
}

.button {
	display: inline-block;
	width: 60%;
	white-space:normal;
	text-decoration: left;
	color: #fff;
	background-color: #4CAF50; /* Green */
	font-weight: bold;
	padding: 8px 10px;
	font-size: 10px;
	border: 1px solid #2d6898;
	border-radius: 12px;

}

.button2 {background-color: #008CBA;} /* Blue */
.button3 {background-color: #f44336;} /* Red */ 
.button4 {background-color: #e7e7e7; color: black;} /* Gray */ 
.button5 {background-color: #555555;} /* Black */

        .floatedTable {
            float:left;
        }
        .inlineTable {
            display: inline-block;
        }